@import url(/src/app/admin/admin-order/admin-order.component.css);

.modal-detail{
  width: 1000px;
}
.modal-detail h2 {
  margin-left: 25px;
}
.modal-button{
  background: #22BAA0;
  color: #fff;
  height: 37px;
  border-radius: 4px;
  padding: 0rem 1rem;
  border: none;
  font-weight: 600;
  margin-left: 25px;
}
